In [1]:
#import data before and after covid hit NYC in March 2020
import pandas as pd

Feb_df = pd.read_csv('Data/202002-citibike-tripdata.csv')
March_df = pd.read_csv('Data/202003-citibike-tripdata.csv')
April_df = pd.read_csv('Data/202004-citibike-tripdata.csv')

In [2]:
#drop any null data
Feb_df = Feb_df.dropna()
March_df = March_df.dropna()
April_df = April_df.dropna()

In [3]:
Feb_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1404,2020-02-01 00:00:05.9460,2020-02-01 00:23:30.7240,316,Fulton St & William St,40.709560,-74.006536,481,S 3 St & Bedford Ave,40.712605,-73.962644,28874,Customer,1995,1
1,1301,2020-02-01 00:00:06.2230,2020-02-01 00:21:48.0580,237,E 11 St & 2 Ave,40.730473,-73.986724,539,Metropolitan Ave & Bedford Ave,40.715348,-73.960241,32588,Subscriber,1991,1
2,474,2020-02-01 00:00:15.7210,2020-02-01 00:08:10.3440,528,2 Ave & E 31 St,40.742909,-73.977061,3785,W 42 St & 6 Ave,40.754920,-73.984550,41013,Subscriber,1994,1
3,487,2020-02-01 00:00:21.0520,2020-02-01 00:08:28.7520,380,W 4 St & 7 Ave S,40.734011,-74.002939,3263,Cooper Square & Astor Pl,40.729515,-73.990753,27581,Subscriber,1973,2
4,619,2020-02-01 00:00:27.4000,2020-02-01 00:10:47.0640,472,E 32 St & Park Ave,40.745712,-73.981948,237,E 11 St & 2 Ave,40.730473,-73.986724,29062,Subscriber,1994,1

In [4]:
March_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1589,2020-03-01 00:00:03.6400,2020-03-01 00:26:32.9860,224,Spruce St & Nassau St,40.711464,-74.005524,3574,Prospect Pl & Underhill Ave,40.676969,-73.965790,16214,Subscriber,1980,1
1,389,2020-03-01 00:00:16.7560,2020-03-01 00:06:46.0620,293,Lafayette St & E 8 St,40.730207,-73.991026,223,W 13 St & 7 Ave,40.737815,-73.999947,29994,Subscriber,1991,2
2,614,2020-03-01 00:00:20.0580,2020-03-01 00:10:34.2200,379,W 31 St & 7 Ave,40.749156,-73.991600,515,W 43 St & 10 Ave,40.760094,-73.994618,39853,Subscriber,1991,1
3,597,2020-03-01 00:00:24.3510,2020-03-01 00:10:22.3390,3739,Perry St & Greenwich Ave,40.735918,-74.000939,325,E 19 St & 3 Ave,40.736245,-73.984738,42608,Subscriber,1989,1
4,1920,2020-03-01 00:00:26.1120,2020-03-01 00:32:26.2680,236,St Marks Pl & 2 Ave,40.728419,-73.987140,3124,46 Ave & 5 St,40.747310,-73.954510,36288,Subscriber,1993,1

In [5]:
April_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,534,2020-04-01 00:00:15.2800,2020-04-01 00:09:09.8730,3656,E 2 St & Avenue A,40.723077,-73.985836,545,E 23 St & 1 Ave,40.736502,-73.978095,15162,Subscriber,1990,2
1,529,2020-04-01 00:02:28.9430,2020-04-01 00:11:18.3410,3163,Central Park West & W 68 St,40.773407,-73.977825,3301,Columbus Ave & W 95 St,40.791956,-73.968087,42861,Subscriber,1974,1
2,1488,2020-04-01 00:02:56.0900,2020-04-01 00:27:44.2530,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3605,31 Ave & Crescent St,40.765835,-73.926547,35989,Subscriber,1982,1
3,341,2020-04-01 00:03:25.1410,2020-04-01 00:09:06.3190,3827,Halsey St & Broadway,40.685650,-73.915640,3869,Van Buren St & Broadway,40.692000,-73.926170,37548,Subscriber,1996,1
4,2206,2020-04-01 00:05:35.2790,2020-04-01 00:42:21.9080,3890,Grove St & Broadway,40.690470,-73.923511,3058,Lewis Ave & Kosciuszko St,40.692371,-73.937054,39701,Subscriber,1977,1

In [6]:
df2=Feb_df.sample(frac=0.01, replace=True, random_state=1)
df3=March_df.sample(frac=0.01, replace=True, random_state=1)
df4=April_df.sample(frac=0.01, replace=True, random_state=1)

In [7]:
df2.count()

tripduration               11468
starttime                  11468
stoptime                   11468
start station id           11468
start station name         11468
start station latitude     11468
start station longitude    11468
end station id             11468
end station name           11468
end station latitude       11468
end station longitude      11468
bikeid                     11468
usertype                   11468
birth year                 11468
gender                     11468
dtype: int64

In [8]:
df3.count()

tripduration               10685
starttime                  10685
stoptime                   10685
start station id           10685
start station name         10685
start station latitude     10685
start station longitude    10685
end station id             10685
end station name           10685
end station latitude       10685
end station longitude      10685
bikeid                     10685
usertype                   10685
birth year                 10685
gender                     10685
dtype: int64

In [9]:
df4.count()

tripduration               6828
starttime                  6828
stoptime                   6828
start station id           6828
start station name         6828
start station latitude     6828
start station longitude    6828
end station id             6828
end station name           6828
end station latitude       6828
end station longitude      6828
bikeid                     6828
usertype                   6828
birth year                 6828
gender                     6828
dtype: int64

In [10]:
frames = [df2, df3, df4]

result = pd.concat(frames)

In [11]:
result.count()

tripduration               28981
starttime                  28981
stoptime                   28981
start station id           28981
start station name         28981
start station latitude     28981
start station longitude    28981
end station id             28981
end station name           28981
end station latitude       28981
end station longitude      28981
bikeid                     28981
usertype                   28981
birth year                 28981
gender                     28981
dtype: int64

In [12]:
result.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
128037,176,2020-02-04 08:54:40.7620,2020-02-04 08:57:37.3400,268,Howard St & Centre St,40.719105,-73.999733,377,6 Ave & Canal St,40.722438,-74.005664,41175,Subscriber,1988,1
491755,1549,2020-02-13 18:26:05.1280,2020-02-13 18:51:54.4290,3338,2 Ave & E 99 St,40.786259,-73.945526,385,E 55 St & 2 Ave,40.757973,-73.966033,33790,Subscriber,1996,1
470924,1205,2020-02-13 08:33:13.0570,2020-02-13 08:53:18.3110,359,E 47 St & Park Ave,40.755103,-73.974987,434,9 Ave & W 18 St,40.743174,-74.003664,40229,Subscriber,1986,1
491263,1109,2020-02-13 18:19:48.5490,2020-02-13 18:38:18.1460,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,326,E 11 St & 1 Ave,40.729538,-73.984267,41352,Subscriber,1984,1
836489,238,2020-02-22 18:44:23.2440,2020-02-22 18:48:21.4720,285,Broadway & E 14 St,40.734546,-73.990741,237,E 11 St & 2 Ave,40.730473,-73.986724,38841,Subscriber,1991,2

In [13]:
result.to_csv('sampled_data.csv')